{{- if .Values.externalSecrets.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ include "compound-docs.fullname" . }}
  labels:
    {{- include "compound-docs.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.syncWaves.externalSecrets | quote }}
spec:
  provider:
    aws:
      service: SecretsManager
      region: {{ .Values.aws.region }}
{{- end }}
