apiVersion: v1
kind: Service
metadata:
  name: {{ include "compound-docs.fullname" . }}
  labels:
    {{- include "compound-docs.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.syncWaves.application | quote }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "compound-docs.selectorLabels" . | nindent 4 }}
